
h1 { 
    background-color: black;
    color:brown;

}

h3 {
    background-color: black;
    color: rgb(212, 16, 16);
}
  
  h4 {
    background-color: black;
    color: rgb(212, 16, 16);
}

img { 
    width: 400;

}

#thirdDiv {
    height: 600;
    width: 500;
    background-color: rgb(14, 188, 211);
    padding: 30;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100px;
    
}

#spanId {
    font-size: 50;
    margin: 50;

}

.divClass {
    max-width: 600px;
    margin: 0 auto;  
    background-color: #567895; 
    font-size: 20;
    margin: 50;
    

}